body {
  margin: 0;
  padding: 0;
  background: #181c20;
  font-family: monospace, monospace;
  color: #e0e0e0;
}

.App {
  min-height: 100vh;
  background: #181c20;
  padding-bottom: 3rem;
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-fade-enter {
  opacity: 0;
  transform: translateY(40px);
}
.card-fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 400ms, transform 400ms;
}
.card-fade-exit,
.card-fade-exit-active {
  opacity: 1;
  transform: translateY(0);
  transition: none;
}
